@CHARSET "UTF-8";
/*头部导航*/
.head{
	position: fixed;
	width: 100%;
	height: 50px;
	left: auto;
	right: auto;
	top: 0;
	z-index:10;
	background: #ff00ff;
}
.head-con{
	position: relative;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.head-con>ul{
	position: absolute;
	left: 20px;
}
.head-con>ul li{
	width: 200px;
	height: 100%;
	float: left;
	margin-left: 15px;
}
.head-con>ul li a, .head-con>ul li span{
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #fff;
}
.head-con>ul li a:HOVER, .head-con>ul li span:hover{
	background: #F10180;
	cursor: pointer;
}
/*主体*/
.usercenter-body{
	position: relative;
	width: 100%;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
/*主体-业务/设置*/
.body-con, .user-setting{
	position: relative;
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*设置-logo*/
.campusstore-logo{
	position: absolute;
	width: 180px;
	height: 80px;
	left: 10px;
	top: 10px;
	border: none;
}
/*设置/业务-导航*/
.setting-nav, .body-userser-nav{
	position: absolute;
	width: 200px;
	height: 400px;
	top: 100px;
	left: 0;
}
.setting-nav>ul>li, .body-userser-nav>ul>li{
	width: 100%;
	height: 50px;
	margin: 0 0 3px 0;
}
.setting-nav>ul>li span, .body-userser-nav>ul>li span{
	line-height: 50px;
	width: 100%;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
	color: #3F3F3F;
	background: #A0CDEA;
	display: block;
}
.setting-nav>ul>li span:hover, .setting-nav .mark-setting-nav,
.body-userser-nav>ul>li span:hover, .body-userser-nav .mark-server-nav{
	color: #ff00ff;
	cursor: pointer;	
	background: #fdf5e6;
	border-bottom: 2px solid #ff00ff;
}
/*设置-功能*/
.setting-passcode-update, .setting-passcode-find, .setting-address, .setting-phone,
.setting-exit, .setting-common{
	position: absolute;
	width: 980px;
	height: 1200px;
	top: 0;
	left: 210px;
}
/*业务-个人头像*/
.body-userinfo{
	position: absolute;
	width: 200px;
	height: 250px;
	top: 0;
	left: 0;
	background: #A0CDEA;
}
.body-userhead img{
	position: absolute;
	width: 150px;
	height: 150px;
	top: 20px;
	left: 25px;
	border-radius:50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.body-useraccount{
	position: absolute;
	width: 100%;
	height: 80px;
	top: 170px;
	left: 0;
	line-height: 80px;
	text-align: center;
	font-size:18px;
	color: #F7D140;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*业务-主体*/
.body-userser-con{
	position: absolute;
	width: 980px;
	height: 1200px;
	top: 0;
	left: 210px;
}
/*业务-个人主要信息*/
.body-userser-maininfo{
	position: absolute;
	width: 100%;
	height: 120px;
	top: 0;
	left: 0;
	background: #F7D140;
}
.body-userser-maininfo table{
	width: 100%;
	height: 100%;
}	
.body-userser-maininfo table tr{
	height: 50%;
	line-height: 60px;
	text-align: left;
}
.body-userser-maininfo-up{
	font-size: 32px;
	font-weight: 900;
	color: #fff;
}
.body-userser-maininfo-down{
	font-size: 18px;
	font-weight: 900;
	color: #3F3F3F;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*业务-具体*/
.body-userser-order, .body-userser-shoppingCar,
.body-userser-info, .body-userser-history{
	position: absolute;
	width: 100%;
	height: 1080px;
	top: 120px;
	left: 0;
	display: none;
}
/*业务-订单-具体布局*/
.body-userser-order>ul{
	position: absolute;
	top: 0;
	left: 0;
}
.body-userser-order>ul>li{
	width: 120px;
	height: 45px;
	float: left;
	margin-right:5px;
}
.body-userser-order>ul>li a{
	line-height: 45px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: black;
	display: block;
	border-bottom: 2px solid gray;	
}
.body-userser-order>ul>li a:hover{
	color: #ff00ff;	
	border-bottom: 2px solid #ff00ff;	
}
/*业务-表格-共用模块*/
.body-userser-order>table, .body-userser-shoppingCar>table,
.body-userser-info>table, .body-userser-history>table{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-collapse: collapse;
}
.body-userser-order>table tr,.body-userser-shoppingCar>table tr,
.body-userser-info>table tr,.body-userser-history>table tr{
	height: 100px;
	text-align: center;
}
.body-userser-order>table tr td,.body-userser-shoppingCar>table tr td,
.body-userser-info>table tr td,.body-userser-history>table tr td{
	border: 1px solid gray;	
}
.body-userser-order .body-userser-tbtitle,
.body-userser-shoppingCar .body-userser-tbtitle,
.body-userser-info .body-userser-tbtitle,
.body-userser-history .body-userser-tbtitle{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	background: #F5F5F5;
	color: #3F3F3F;
}
/*业务-个人信息-显示模块*/
.body-userser-tbtitle input{
	width: 450px;
	height: 35px;
	line-height: 40px;
	font-size: 18px;
	text-align: left;
	text-indent: 2em;
	background: #F7F7F7;
	color: #4169e1;
}
.body-userser-tbtitle button{
	width: 180px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
	background: #00fa9a;
	border: none;
	color: #fff;
}
.body-userser-tbtitle button:HOVER{
	cursor: pointer;
}
#user-info-updated{
	display: none;
}
/*业务-分页-翻页*/
.table-page{
	background: #FFF;
	border: none;
	color: blue;
	font-size: 16px;
}
.table-page:HOVER{ color: #ff00ff; cursor: pointer; }
/*业务/设置-公共部分*/
.shoppingcar-null, .history-null, .setting-warn{
	position: absolute;
	width: 900px;
	height: 300px;
	left: 50px;
	top: 100px;
	display: none;
}
/*公共模块-图片*/
.shoppingcar-null img, .history-null img, .setting-warn img{
	width: 300px;
	height: 100%;
	padding-left: 0;
}
/*公共模块-文字*/
.shoppingcar-null-text, .history-null-text, .setting-warn-text{
	position: absolute;
	left: 300px;
	top: 0;
	width: 600px;
	height: 100%;
	text-align: left;
	text-indent: 2em;
	line-height: 30px;
	color: #3F3F3F;
}













